{
  "useTabs": true,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel-flow"
      }
    },
		{
      "files": "*.jsx",
      "options": {
        "parser": "babel-flow"
      }
    }
  ]
}
